#campo {
    width: 114vw;
    height:70vh;
    margin-left: -19vw;
    background: no-repeat;
}

#campo-contenido {
    padding-left: 27.5vw;
    padding-right: 15vw;
    padding-top: 5vh;
}

#campo-contenido .row {
    margin-bottom: 40px;
}

#boton-panel-jugadores {
    padding-left: 24vw;
    width: 80vw;
}

#aviso-jugadores {
    padding-left: 24vw;
    font-size: 12px;
}

#cerrar-jugadores {
    margin-right: 10px;
}